.verification-details-container{
  height: calc(100vh - 70px);

  .verification-details-content{
    height: calc(100vh - 126px);
    
    .details-grid{
      grid-template-columns: 3.2fr 5fr 3fr;
      grid-template-rows: 1fr auto;

      &.incomplete-status{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 10% 1fr 1fr 1fr;
      }
    }
  }

  .xl-text{
    @apply text-xl;
  }
  .lg-text{
    @apply text-lg;
  }
  .md-text{
    @apply text-base;
  }
  .sm-text{
    @apply text-sm;
  }
  .xs-text{
    @apply text-xs;
  }
  .xxs-text{
    @apply text-xxs;
  }
}

.bdg-status{
  &--success{
    background-color:#58DA90;
  }
  &--warning{
    background-color:#F7C848; 
  }
  &--danger{
    background-color: #EB5757; 
  }
  &--info{
    background-color: #39A0FD;
  }
  &--blacklist{
    background-color: #353D46;
  }
  &--noRecord{
    background-color: #F08B34;
  }
}


@media (max-height: 763px){
  .verification-details-container .verification-details-content {
    overflow-y: auto;
    .details-grid{
      height: 638px;
    }
  }
}
@media (min-height: 764px){
  .verification-details-container .verification-details-content {
    min-height: 638px;
  }
}
@media (min-width: 1536px){
  .verification-details-container{

    .verification-details-content{
      .details-grid{
        grid-template-columns: 3fr 4fr 3fr;
        // grid-template-rows: auto auto 120px;

        &.incomplete-status{
        
        }
      }
    }

    .xl-text{
      @apply text-3xl;
    }
    .lg-text{
      @apply text-2xl;
    }
    .md-text{
      @apply text-xl;
    }
    .sm-text{
      @apply text-lg;
    }
    .xs-text{
      @apply text-base;
    }
    .xxs-text{
      @apply text-sm;
    }
  }
}