.users-list-container{
  .users-content{
    height: calc(100vh - 65px);
  }

  .user-count-div .card.active{
    @apply border-violet bg-sidemenuChildBgColor;
  }

  .filter-container{
    .input-div input,
    .input-div .datepicker-input{
      @apply rounded-3xl border-gray-100 bg-gray-100 text-gray-500;
    }

    .input-div.with-icon input{
      @apply pl-12;
    }
    .input-div .datepicker-input{
      @apply pl-14 cursor-pointer #{!important};
    }
  }

  .no-data-content{
    height: calc(100vh - 235px);

    &.isAllUsers{
      height: calc(100vh - 550px);
    }
  }


  .dot{
    &--all{
      background-color: #B2FCE4;
    }
    &--active{
      background-color: #2F80ED;
    }
    &--pending{
      background-color: #F08B34;
    }
    &--incomplete{
      background-color: #F7C848;
    }
    &--banned{
      background-color: #353D46;
    }
    &--freeze{
      background-color: #9A9EA2;
    }
    &--approved{
      background-color: #36D37A;
    }
    &--rejected{
      background-color: #EB5757;
    }
  }

  .color{
    &--blue{
      color: #2F80ED;
    }
  }
}
