/* ----------- Poppins ----------------- */
  @font-face {
    font-family: 'Poppins'; /* Global font */
    src: url('../fonts/poppins/Poppins-Regular.otf')  format('truetype');
  }
  @font-face {
    font-family: 'Poppins Light'; /* Global font */
    src: url('../fonts/poppins/Poppins-Light.otf')  format('truetype');
  }
  @font-face {
    font-family: 'Poppins Thin'; /* Global font */
    src: url('../fonts/poppins/Poppins-Thin.otf')  format('truetype');
  }
  @font-face {
    font-family: 'Poppins Medium'; /* Global font */
    src: url('../fonts/poppins/Poppins-Medium.otf')  format('truetype');
  }
  

